/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	/* .hero-text {
		margin-top: 80%;
	} */

	.dela-80 {
		font-size: 35px;
	}

	.about-height {
		height: auto;
	}

	.about-text {
		position: static;
		padding-top: 100px;
		padding-bottom: 0px;
		height: auto;
	}

	.headline {
		font-size: 30px;
	}

	.fan-80 {
		font-size: 60px;
	}

	.reg-38 {
		font-size: 26px;
	}

	.nature-item {
		width: 100%;
	}

	.us {
		text-align: center;
		width: 100%;
		padding: 0;
	}

	.nature-first {
		padding-top: 0;
	}

	.nature-second {
		padding: 30px 0;
	}

	.nature-third {
		padding-bottom: 60px;
	}

	.bangla {
		font-size: 1.4rem;
	}

	.reg-20 {
		font-size: 16px;
	}

	.video-button img {
		border-radius: 10px;
	}

	.video-img-bg .play-button {
		width: 55px;
		height: 55px;
	}

	.video-img-bg .play-button img {
		padding: 20px;
	}

	.retailers {
		padding: 60px 0;
	}

	.reg-30 {
		font-size: 22px;
	}

	.semi-30 {
		font-family: 'Nunito-semibold', sans-serif;
		font-size: 22px;
	}

	.border-r-lg {
		border-right: 0px;
		padding-top: 50px;
	}

	.border-l-lg {
		border-left: 0px;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		display: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* .hero-text {
		margin-top: 65%;
	} */

	.dela-80 {
		font-size: 45px;
	}

	.about-height {
		height: auto;
	}

	.about-text {
		position: static;
		padding-top: 100px;
		padding-bottom: 0px;
		height: auto;
	}

	.fan-80 {
		font-size: 60px;
	}

	.reg-38 {
		font-size: 26px;
	}

	.us {
		text-align: center;
		width: 100%;
		padding: 0px 30px;
	}

	.nature-first {
		padding-top: 20px;
	}

	.nature-second {
		padding: 30px 0;
	}

	.nature-third {
		padding-bottom: 90px;
	}

	.reg-20 {
		font-size: 16px;
	}

	.border-r-lg {
		border-right: 0px;
	}

	.border-l-lg {
		border-left: 0px;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		display: none;
	}
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* .hero-text {
		margin-top: 50%;
	} */

	.dela-80 {
		font-size: 45px;
	}

	.about-height {
		height: auto;
	}

	.about-text {
		position: static;
		padding-top: 100px;
		padding-bottom: 0px;
		height: auto;
	}

	.fan-80 {
		font-size: 60px;
	}

	.reg-38 {
		font-size: 26px;
	}

	.us {
		text-align: center;
		width: 100%;
		padding: 0px 30px;
	}

	.nature-first {
		padding-top: 20px;
	}

	.nature-second {
		padding: 30px 0;
	}

	.nature-third {
		padding-bottom: 90px;
	}

	.reg-20 {
		font-size: 16px;
	}

	.border-r-lg {
		border-right: 0px;
	}

	.border-l-lg {
		border-left: 0px;
	}

	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		display: none;
	}
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.dela-80 {
		font-size: 60px;
	}

	.ml-cus {
		margin-left: 0rem !important;
	}

	.fan-80 {
		font-size: 60px;
	}

	.reg-38 {
		font-size: 26px;
	}

	.us {
		width: 85%;
	}

	.reg-20 {
		font-size: 16px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.navbar-brand {
		width: 65%;
	}

	/* .hero-text {
		margin-top: 100%;
	} */

	.dela-80 {
		font-size: 25px;
	}

	.hero-text {
		width: 75%;
	}
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	/* .hero-text {
		margin-top: 85%;
	} */

	.dela-80 {
		font-size: 25px;
	}
}
