/*----------------------------*\
	responsive nav
\*----------------------------*/

@media only screen and (max-width: 991px) {
    .hamburger-menu .menu-toggle {
      display: inline-block;
    }
	
    #responsive-nav {
      position: fixed;
      left: 0;
      top: 0;
      background: #36344d;
      height: 100vh;
      max-width: 250px;
      width: 0%;
      overflow: hidden;
      z-index: 22;
      padding-top: 60px;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition: 0.2s all;
      transition: 0.2s all;
    }
    #responsive-nav.active {
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
      width: 100%;
    }
    .main-nav {
      margin: 0px;
      float: none;
    }
    .main-nav>li {
      display: block;
      float: none;
    }
    .main-nav>li>a {
      padding: 15px;
      color: #FFF;
	  border-left: 4px solid #333333;
      border-bottom: 1px ridge rgba(255, 255, 255, 0.04);
    }
    .header-logo {
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
      }
	  
      .header-logo .logo {
        display: inline-block;
      }
	  
	  .carousel {
		margin-top: 30px;
	}
	
	.sidebar-menu {
		display: none;
	}
  }

/*----------------------------*\
	Media Devices
\*----------------------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices(sm) (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	
}

/* Large devices(md) (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.header-logo {
        width: 45%;
        margin-left: 10%;
    }
    
    #navigation {
        width: 65%;
        margin-left: 5%;
        margin-right: 0;
    }
	
	.content {
		width: 72%;
	}
	
	.ham-none{
		display:none;
	}
	
	.md-hl{
		margin-left: 55%; 
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	.content {
		width: 72%;
	}
	
	.ham-none{
		display:none;
	}
	
	.md-hl{
		margin-left: 40%; 
	}
}




